#dugmeDugme {
   -fx-background-color: silver;
   -fx-border-color: black;
}

#dugmePodloga {
    -fx-background-color: ghostwhite;
}

#dugmeJednako {
    -fx-background-color: salmon;
    -fx-border-color: black;
}

#dugmeRezultat {
    -fx-background-color: lightgreen;
}